.wrapper{
//    background:linear-gradient(rgba($mcd-yellow, 0.8), rgba($mcd-pink, 0.8)) fixed, url(../img/snow.png);
    background-blend-mode:multiply;
}

.promo, .event{
    padding-right:0;
}

//LOGO
.logo h1 a{
    background-image:url(../img/logo.png);
    background-position: center;
    background-size:cover;
    position:absolute;
    z-index:9999;
    display:block;
    width:75px;
    height:75px;
    left:60px;
    box-shadow:0px 0px 5px rgba($black,0.6);
    @include ease-in-out();
}

//TOGGLE MANU STYLE
#toggle {
  display: block;
  width: 29px;
  height: 30px;
  margin: 0 auto;
  padding-top:23px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 4px;
  background-color: $base;
  @include ease-in-out(0.5s);
  backface-visibility: hidden;
  border-radius: 1px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transform:rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

//OFF-CANVAS
.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before{
    content:"▸";
}

//HERO
.hero-images img{
//    margin-top:4%;
    width:100%;
    height:auto;
}

//PROMO and EVENT
.promo img, .event img{
    width:100%;
    height:auto;
    margin-bottom:10px;
}

//INSTAGRAM
.instagram{
    background-color:$white-smoke;
    padding-top:20px;
    img{
        width:90%;
        margin-top:5px;
        margin-bottom:15px;
    }
}

//FOOTER
.footer-btm {
    background-color: $oil;
    padding: 38px 0 40px;
    text-align: center;
    color: $smoke;
    margin-top:50px;
    ul {
        float: none;
        margin: 0 0 20px 0;
        text-align: center;
        display: inline-block;
        li {
            list-style: none;
            display: block;
            float: left;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: lighten($oil, 40%);
                font-size: 2.2em;
                @include ease-in-out();
                &:hover {
                    color: lighten($oil, 30%);
                }
            }
        }
    }
}
//MEDIA QUERY
@media #{$large-up}{
.logo h1 a{
    width:75px !important;
    height:75px !important;
    left:60px;
    @include ease-in-out();
}
}

@media #{$small-only}{
.logo h1 a{
    width:60px !important;
    height:60px !important;
    left:60px;
    @include ease-in-out();
}
}