html,body{
    height:100%;
}

/*Full Screen Header*/
.top-section{
    height:100%;
    background-color:#e4e3de;
}

//HERO
#hero-image{
    @include centered();
    padding-top:15%;
    padding-bottom:5%;
}
#hero-image img{
    border-bottom:2px dashed #a2a2a2;
}

header nav{
    @include centered();
 a{
    padding-right:3em;
    color:#a2a2a2;
     &:last-child{padding-right:0;
}}
    }

.menu-icon{
    position:fixed;
    right:5%;
    top:5%;
    z-index:200;
}

#scroll-down{
    @include centered();
    margin-top:20%;
    background-image:url(../img/scroll-down.png);
    background-repeat:no-repeat;
    width:90px;
    height:90px;
    @include flight();
}

//LOGO
//.logo h1 a{
//    background-image:url(../img/logo.png);
//    background-position: center;
//    background-size:cover;
//    position:absolute;
//    z-index:9999;
//    display:block;
//    width:75px;
//    height:75px;
//    left:60px;
//    box-shadow:0px 0px 5px rgba($black,0.6);
//    @include ease-in-out();
//}

//=======================================TOGGLE MANU STYLE
#toggle {
  display: block;
  width: 29px;
  height: 30px;
  margin: 0 auto;
  padding-top:23px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 4px;
  background-color: lighten($primary-color,8%);
  @include ease-in-out(0.5s);
  backface-visibility: hidden;
  border-radius: 1px;
}
//
/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  background-color: $snow;
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transform:rotate(-45deg) translate(7px, -8px);
  background-color: $snow;
}
#toggle.on + #menu {
  opacity: 1;
}
//TOGGLE MENU STYLE END=======================================

//OFF-CANVAS
//.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before{
//    content:"▸";
//}



//FOOTER
.footer-btm {
    background-color: $oil;
    padding: 38px 0 40px;
    text-align: center;
    color: $smoke;
    margin-top:50px;
    ul {
        float: none;
        margin: 0 0 20px 0;
        text-align: center;
        display: inline-block;
        li {
            list-style: none;
            display: block;
            float: left;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: lighten($oil, 40%);
                font-size: 2.2em;
                @include ease-in-out();
                &:hover {
                    color: lighten($oil, 30%);
                }
            }
        }
    }
}
//MEDIA QUERY
@media #{$large-up}{
.logo h1 a{
    width:75px !important;
    height:75px !important;
    left:60px;
    @include ease-in-out();
}
}

@media #{$small-only}{
.logo h1 a{
    width:60px !important;
    height:60px !important;
    left:60px;
    @include ease-in-out();
}
}